In [8]:
import pandas as pd
import numpy as np
import os 
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
filename = os.path.join(os.getcwd(), "WeInspectB.csv")
df = pd.read_csv(filename, header=0)

df.head()

,City,State,Zip,Aspergillus flavus/oryzae,Aspergillus fumigatus,Aspergillus niger,Aspergillus ochraceus,Aspergillus penicillioides,Aspergillus restrictus*,Aspergillus sclerotiorum,...,"Eyes, Ears, Nose, & Throat",Resipiratory,Digestive,Circulatory,Skin,Brain,Nervous,Urinary,Immune,Reproductive
0,Mountain Brook,Alabama,35223,ND,Nd,14,Nd,NaN,11,Nd,...,"Sneezing/Allergies, Dry/Irritated eyes, Chroni...",NaN,"Diarrhea/Constipation, Bloating, Abdominal pai...","Raynaud's phenomenon, Low or reactive blood pr...","Itchy/Peeling skin, Skin rash, Fungal infections",Brain fog,"Anxiousness, Fatigue",Overactive bladder,NaN,"Changes in menstrual cycle, Inconsistent menst..."
1,Wasilla,Alaska,99623,ND,ND,12,ND,5,ND,ND,...,"Sneezing/Allergies, Runny nose/Post-nasal drip...","Shortness of breath, Chronic dry cough, Chroni...","Significant weight gain/loss, Diarrhea/Constip...","Cherry angiomas, Easy bruising/bleeding","Itchy/Peeling skin, Skin rash, Eczema","Brain fog, Memory loss, Anger/Aggressiveness","Anxiousness, Depression, Headache, Migraine, I...",NaN,Long-lasting colds,"Vaginal yeast or bacterial infections, Hormone..."
2,Soldotna,Alaska,99669-8654,ND,3,3,234,NaN,6,ND,...,"Sneezing/Allergies, Runny nose/Post-nasal drip...","Shortness of breath, Heaviness in the chest","Significant weight gain/loss, Bloating, Sweet ...","Spider veins, Easy bruising/bleeding, Iron def...","Itchy/Peeling skin, Flushing, Fungal infections","Brain fog, Confusion, Memory loss, Trouble fin...","Anxiousness, Depression, Headache, Insomnia, F...",Overactive bladder,"Increased susceptibility to infection, Chronic...","Changes in menstrual cycle, Inconsistent menst..."
3,Soldotna,Alaska,99669,ND,ND,ND,ND,NaN,ND,ND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Anchorage,Alaska,99508-4014,64,5,32,ND,NaN,6,ND,...,"Runny nose/Post-nasal drip, Ear popping/ringin...",NaN,Significant weight gain/loss,"Spider veins, Cherry angiomas, Raynaud's pheno...",Eczema,"Brain fog, Trouble finding the right word, Ang...","Anxiousness, Fatigue",NaN,NaN,NaN

In [7]:
columns = ['Diagnoses', 'Eyes, Ears, Nose, & Throat', 'Resipiratory', 'Digestive', 'Circulatory', 'Skin', 'Brain', 
           'Nervous', 'Urinary', 'Immune', 'Reproductive']
uniqueValues = df[columns]
uniqueValues.head()

,Diagnoses,"Eyes, Ears, Nose, & Throat",Resipiratory,Digestive,Circulatory,Skin,Brain,Nervous,Urinary,Immune,Reproductive
0,"Hyperthyroid/Hypothyroid, IBS, PCOS","Sneezing/Allergies, Dry/Irritated eyes, Chroni...",NaN,"Diarrhea/Constipation, Bloating, Abdominal pai...","Raynaud's phenomenon, Low or reactive blood pr...","Itchy/Peeling skin, Skin rash, Fungal infections",Brain fog,"Anxiousness, Fatigue",Overactive bladder,NaN,"Changes in menstrual cycle, Inconsistent menst..."
1,NaN,"Sneezing/Allergies, Runny nose/Post-nasal drip...","Shortness of breath, Chronic dry cough, Chroni...","Significant weight gain/loss, Diarrhea/Constip...","Cherry angiomas, Easy bruising/bleeding","Itchy/Peeling skin, Skin rash, Eczema","Brain fog, Memory loss, Anger/Aggressiveness","Anxiousness, Depression, Headache, Migraine, I...",NaN,Long-lasting colds,"Vaginal yeast or bacterial infections, Hormone..."
2,"CIRS, MCAS","Sneezing/Allergies, Runny nose/Post-nasal drip...","Shortness of breath, Heaviness in the chest","Significant weight gain/loss, Bloating, Sweet ...","Spider veins, Easy bruising/bleeding, Iron def...","Itchy/Peeling skin, Flushing, Fungal infections","Brain fog, Confusion, Memory loss, Trouble fin...","Anxiousness, Depression, Headache, Insomnia, F...",Overactive bladder,"Increased susceptibility to infection, Chronic...","Changes in menstrual cycle, Inconsistent menst..."
3,"Auto-Immune Disease, Lyme Disease, Hyperthyroi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"CIRS, Hyperthyroid/Hypothyroid, PCOS, Candidia...","Runny nose/Post-nasal drip, Ear popping/ringin...",NaN,Significant weight gain/loss,"Spider veins, Cherry angiomas, Raynaud's pheno...",Eczema,"Brain fog, Trouble finding the right word, Ang...","Anxiousness, Fatigue",NaN,NaN,NaN

In [9]:
for i in columns:
    systemSymptomList = (df[i].dropna()   # Drop any remaining NaNs (though there shouldn't be any after fillna)
                     .replace('', '0')    # Replace empty strings with '0'
                     .str.lower()         # Convert to lowercase
                     .str.replace(" ", "") # Remove spaces
                     .str.split(',')      # Split by commas
                     .explode()           # Explode lists to rows
                     .loc[lambda x: x != '0'] # Filter out '0' values
                     .dropna()            # Drop any remaining NaNs (though there shouldn't be any after fillna)
                     .unique())           # Get unique values
    
    for j in systemSymptomList:
        newColumn = str(i) + "_" + str(j)
        df[newColumn] = df[i].apply(lambda x: 1 if j in str(x).lower().replace(" ", "") else 0)
    systemSymptomList = []
df.columns

/var/folders/zz/h3vjnty95xgb16nz5y2xm56m0000gn/T/ipykernel_54409/3790493406.py:14: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[newColumn] = df[i].apply(lambda x: 1 if j in str(x).lower().replace(" ", "") else 0)
/var/folders/zz/h3vjnty95xgb16nz5y2xm56m0000gn/T/ipykernel_54409/3790493406.py:14: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[newColumn] = df[i].apply(lambda x: 1 if j in str(x).lower().replace(" ", "") else 0)
/var/folders/zz/h3vjnty95xgb16nz5y2xm56m0000gn/T/ipykernel_54409/3790493406.py:14: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[newColumn] = df[i].apply(lambda x: 1 if j in str(x).lower().replace(" ", "") else 0)
/var/folders/zz/h3vjnty95xgb16nz5y2xm56m0000gn/T/ipykernel_54409/3790493406.py:14: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[newColumn] = df[i].apply(lambda x: 1 if j in str(x).lower().replace(" ", "") else 0)
/var/folders/zz/h3vjnty95xgb16nz5y2xm56m0000gn/T/ipykernel_54409/3790493406.py:14: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[newColumn] = df[i].apply(lambda x: 1 if j in str(x).lower().replace(" ", "") else 0)
/var/folders/zz/h3vjnty95xgb16nz5y2xm56m0000gn/T/ipykernel_54409/3790493406.py:14: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[newColumn] = df[i].apply(lambda x: 1 if j in str(x).lower().replace(" ", "") else 0)
/var/folders/zz/h3vjnty95xgb16nz5y2xm56m0000gn/T/ipykernel_54409/3790493406.py:14: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[newColumn] = df[i].apply(lambda x: 1 if j in str(x).lower().replace(" ", "") else 0)
/var/folders/zz/h3vjnty95xgb16nz5y2xm56m0000gn/T/ipykernel_54409/3790493406.py:14: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[newColumn] = df[i].apply(lambda x: 1 if j in str(x).lower().replace(" ", "") else 0)
/var/folders/zz/h3vjnty95xgb16nz5y2xm56m0000gn/T/ipykernel_54409/3790493406.py:14: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[newColumn] = df[i].apply(lambda x: 1 if j in str(x).lower().replace(" ", "") else 0)

Index(['City', 'State', 'Zip', 'Aspergillus flavus/oryzae',
       'Aspergillus fumigatus', 'Aspergillus niger', 'Aspergillus ochraceus',
       'Aspergillus penicillioides', 'Aspergillus restrictus*',
       'Aspergillus sclerotiorum',
       ...
       'Immune_chronicmonoorepstein-barrvirus',
       'Immune_frequentherpesoutbreaks',
       'Immune_viralinfectionsbecomebacterial',
       'Immune_increasedsusceptibilitytocancer',
       'Reproductive_changesinmenstrualcycle',
       'Reproductive_inconsistentmenstrualcycle',
       'Reproductive_vaginalyeastorbacterialinfections',
       'Reproductive_jockitch', 'Reproductive_infertilityinbothgenders',
       'Reproductive_hormoneimbalances'],
      dtype='object', length=163)

In [10]:
df.head(15)

,City,State,Zip,Aspergillus flavus/oryzae,Aspergillus fumigatus,Aspergillus niger,Aspergillus ochraceus,Aspergillus penicillioides,Aspergillus restrictus*,Aspergillus sclerotiorum,...,Immune_chronicmonoorepstein-barrvirus,Immune_frequentherpesoutbreaks,Immune_viralinfectionsbecomebacterial,Immune_increasedsusceptibilitytocancer,Reproductive_changesinmenstrualcycle,Reproductive_inconsistentmenstrualcycle,Reproductive_vaginalyeastorbacterialinfections,Reproductive_jockitch,Reproductive_infertilityinbothgenders,Reproductive_hormoneimbalances
0,Mountain Brook,Alabama,35223,ND,Nd,14,Nd,NaN,11,Nd,...,0,0,0,0,1,1,1,1,1,1
1,Wasilla,Alaska,99623,ND,ND,12,ND,5,ND,ND,...,0,0,0,0,0,0,1,0,0,1
2,Soldotna,Alaska,99669-8654,ND,3,3,234,NaN,6,ND,...,1,0,0,0,1,1,0,0,0,1
3,Soldotna,Alaska,99669,ND,ND,ND,ND,NaN,ND,ND,...,0,0,0,0,0,0,0,0,0,0
4,Anchorage,Alaska,99508-4014,64,5,32,ND,NaN,6,ND,...,0,0,0,0,0,0,0,0,0,0
5,Sherwood Park,Alberta,T8A6P1,ND,309,4,ND,15,ND,8,...,0,0,0,0,0,0,0,0,0,0
6,Crossfield,Alberta,T0M0R0,<1,1,11,ND,NaN,3,ND,...,0,0,0,0,0,0,0,0,0,1
7,Calgary,Alberta,T2W 4C1,ND,17,396,ND,NaN,ND,ND,...,0,0,0,0,0,0,0,0,0,0
8,Scottsdale,Arizona,85251,5,3,83,9,428,ND,3,...,0,0,0,0,0,0,0,0,0,1
9,Tucson,Arizona,85701,92,21,"4,807",60,"1,848",3,7,...,1,1,0,0,0,0,0,0,0,0
10,Tucson,Arizona,85743,33,10,160,10,141,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Lake Havasu City,Arizona,86406,21*,9,1202**,22*,1173*,ND,4,...,0,0,0,0,0,0,0,0,0,0
12,Mesa,Arizona,85213,0,0,30,0,9,0,0,...,0,0,0,0,0,0,0,0,0,0
13,Queen Creek,Arizona,85142,132,30,1792,40,939,5,14,...,0,0,0,0,0,0,0,0,0,0
14,Phoenix,Arizona,85024,9,7,195,5,53,ND,ND,...,0,0,0,0,0,0,0,0,0,0

In [11]:
mole_columns = df.iloc[:, 3:40]
mole_columns.head()

,Aspergillus flavus/oryzae,Aspergillus fumigatus,Aspergillus niger,Aspergillus ochraceus,Aspergillus penicillioides,Aspergillus restrictus*,Aspergillus sclerotiorum,Aspergillus sydowii,Aspergillus unguis,Aspergillus versicolor,...,Acremonium strictum,Alternaria alternata,Aspergillus ustus,Cladosporium cladosporioides 1,Cladosporium cladosporioides 2,Cladosporium herbarum,Epicoccum nigrum,Mucor amphibiorum*,Penicillium chrysogenum,Rhizopus stolonifer
0,ND,Nd,14,Nd,NaN,11,Nd,Nd,Nd,Nd,...,9,19,15,NaN,NaN,NaN,372,10,29,6
1,ND,ND,12,ND,5,ND,ND,ND,ND,ND,...,ND,ND,ND,470,12,114,67,24,111*,ND
2,ND,3,3,234,NaN,6,ND,5,ND,279,...,ND,ND,119,NaN,NaN,NaN,60,173,70,ND
3,ND,ND,ND,ND,NaN,ND,ND,ND,ND,6,...,ND,ND,ND,NaN,NaN,NaN,435,4,49,ND
4,64,5,32,ND,NaN,6,ND,ND,ND,6,...,2,3,<1,NaN,NaN,NaN,2,7,83,12

In [12]:
#turning all 'NaN', strings, and <0 to zero
for i in mole_columns:
    filtered = df.loc[~df[i].astype(str).str.isnumeric() | df[i].isna(), i].unique()
    print (filtered)

['ND' '<1' '21*' 'nd' 'N/D' 'N D' '22*' 'ND, <1' 'Nd' '33*' 'Hhh']
['Nd' 'ND' '39*' 'nd' '57*' 'ND, <1' 'N D' '<1' '61 *' '35*' '33*' '50*'
 'Hhh']
['ND' '4,807' '1202**' '713**' '161*' '80 *' '142*' '1,691' '464**'
 '272 *' '564**' 'ND, <1' '6,229' '40 *' '438**' '68 *' '44*' '194 *'
 '3422**' '50*' '74 *' '1,248' 'Nd' 'NF' '320*' '127*' '101*' '48*' '184*'
 '123*' '86*' '1,018' '632**' '206*' '195*' '276*' 'Hh']
['Nd' 'ND' '22*' 'nd' '<1' 'N D' '48*' 'ND, <1' '23 *' '73*' 'NDNDND'
 'N/D' '27*' '28*' 'Hh']
[nan '1,848' '1173*' 'ND' '1,528' '2,602' '1,001' '4,405' '1676*']
['ND' 'Nd' '25*' 'nd' 'N/D' 'N D' 'ND, <1' '88 *' '<1' '37*' '720**' '22*'
 '393 * *' '47*' '41*' '29*' '30*' '20*' '77*' 'Hh']
['Nd' 'ND' '<1' '35*' 'nd' 'N D' '138*' 'ND, <1' 'o' 'na' '37 *' '1,186'
 '39 *' 'N/D' '20 *' '41*' '74*' '23*' '27*' 'Hh']
['Nd' 'ND' '54*' 'nd' 'N/D' 'N D' '58*' 'ND, <2' 'na' 'Ne' 'NF' '89*'
 '64*' '34*' 'Hh']
['Nd' 'ND' '<1' 'nd' 'N/D' 'N D' '1, 1' '<' 'na' '25*' '1<' '41*' '83*'
 'Hh']
['Nd' 'ND' '67*' '106*' 'nd' 'N/D' 'N D' '195 *' '241**' '330, 74' '61 *'
 '29*' '159 *' '305**' '21*' '41*' '195*' '46*' '43 *' '75*' '1,749'
 '181*' '163*' '38*' '50*' '27,089' '32*' '142*' '100*' '59*' '196*'
 '179*' '28*' 'Hh']
['1,554' '2,231' '6,624' '51,391' '11,515' '1,168' '1,001' '4,624*'
 '2,184' '24,177' '1,579' '8,584' '384,895' '1,279' '4,470 *' '6453*'
 '240, 54' '1,731' '7,375' '11,243' '1,798' '18,882' '2,158' '4527*'
 '3,375' '3,295' '6,672' '6,291 *' '2,088' '4,588' '6,366' '6,185' '3,902'
 '1,406' '2990*' '11,258' '5,330' '2,960' '2,008' '613,540' '1,481'
 '2,287' '3464*' '1,278' '12,332' '11,031*' '2,010' '5,943 *' 'Nd'
 '15,925*' '5,543' '3,065' '10,409' '48,433' '3,362' '1,083' '2,058'
 '4,520' '2,621' '26,864' '10,993' '2,608' '4279*' '1,768' '40569**' 'ND'
 '11, 190' '12,669' '3,271' '10556*' '3,081' '13,130' '4097*' '4,528'
 '1,346' '85,759' 'Hh']
['ND' '27*' '<1' '80*' 'nd' 'N D' '116*' '1, 1' 'Nd' '4/40' '532 **'
 '23 *' '1,168' '113*' '64*' 'Hh']
['ND' '<1' '18,459' 'ND, <1' 'nd' '216 *' '1,510' 'Nd' '406*' '187 *'
 '180*' '164*' '1,505' '235*' '422*' 'N D' '209*' '<!' 'Hh']
['6,323' '4,009' '1,159' '410, 91' 'ND' '1,186' '1,563' '3,161' '2,962 *'
 'nd' '2,516' '1,380' '1,830' '3,786' 'Nd' '2,133*' '1,530' '10,843'
 '4,217' '1,065' '3,712*' '2011*' 'Hh']
['ND' '110*' 'nd' '1, 1' '27 *' 'Nd' '<1' 'N D' 'N/D' '43*' 'BD' '33*'
 '22*' 'Hh']
['259*' '157*' '1,213**' '1,444' '475 *' '1,484' '2,999' '236 *' '531*'
 'ND, <1' 'ND' 'Nd' 'I 9' '70 *' '342*' '86,978' '183 *' 'nd' '119*' '53*'
 '59*' '4,038' '175*' '512 * *' '89*' '104*' '868**' '4,803' '129*' '134*'
 '114*' '<1' '192*' '182*' '619**' '390*' 'Hh']
['ND' '<1' '2,529' '164*' '36*' 'nd' '26 *' '24 *' '81*' '120, 27' 'Nd'
 '147 *' 'N D' '1,137' '48*' '79*' '31*' '89*' '198*' '28*' 'N/D' '6,292'
 '37*' '26*' '223**' '505**' '190*' '250*' 'Hh']
['Nd' '20*' '24*' 'ND' '14*' '11*' 'nd' 'N/D' '68 *' '13*' 'ND, <1' 'N D'
 '27*' '456 **' '18*' '340**' '14 *' '36*' '26*' '65*' '60*' '10*' '59*'
 '83*' '971**' 'Hh']
['Nd' 'ND' '<1' '22*' 'NE' '18*' 'N/D' '61 *' '14*' 'ND, <1' 'N D' 'nd'
 '364**' '28*' '0`' '12*' '63*' 'Hh']
['Nd' 'ND' '<1' 'nd' 'N D' 'ND, <3' '13*' 'Do not see listed' 'N/D' '1<'
 'Hh']
['ND' '936**' '37*' 'nd' 'N/D' 'N D' '30, 7' 'NF' 'Nd' '1,738' '33 *' '<1'
 '41*' '70*' '215*' 'Hh']
['Nd' 'ND' '<1' 'nd' 'N D' '95*' '3, 1' '32*' '80*' '38 *' 'BD' ',1' 'Hh']
['ND' '<1' 'nd' '23 *' '4900, 1100' 'Nd' '20*' '38*' 'N D' 'Hh']
['Nd' 'ND' '<1' 'nd' 'N D' 'ND, <1' 'NE' 'N d' '29*' 'N/D' '28*' 'Hh']
['ND' 'Nd' '<1' '119*' '75*' 'nd' '1,518' '63 *' '56*' 'ND, <1' '37 *'
 '29*' '38 *' '>1' '26*' '89*' '33*' '39*' '37*' '75 *' '157*' '1<' '49*'
 '2839 ***' '28*' '68*' '38*' 'Hh']
['ND' 'nd' '268*' '2, 1' '821*' '434 *' 'Nd' '298*' 'Hh']
[2.57000000e+01 1.36000000e+01 2.22000000e+01 1.01000000e+01
 1.72800000e+01 1.76000000e+01 1.74700000e+01 2.75000000e+01
 3.41000000e+01 4.28000000e+01 2.24000000e+01 3.52000000e+01
 8.10000000e+00 3.20000000e+01 2.45000000e+01 3.55000000e+01
 7.90000000e+00 3.05000000e+01 3.29000000e+01 2.09000000e+01
 2.02000000e+01 2.78000000e+01 2.18000000e+01 1.43000000e+01
 3.66000000e+01 2.53000000e+01 2.13000000e+01 4.56000000e+01
 4.23400000e+01 5.07000000e+01 1.30000000e+01 1.88000000e+01
 1.92000000e+01 2.86000000e+01 2.61000000e+01 2.02400000e+01
 2.38000000e+01 2.06600000e+01 1.75300000e+01 2.25200000e+01
 3.86700000e+01 6.30000000e+00 3.62000000e+01 4.02000000e+01
 3.89000000e+01 3.41200000e+01 7.50000000e+00 3.16000000e+01
 3.40000000e+01 3.76500000e+01 2.47000000e+01 4.22000000e+01
 3.12000000e+01 2.21000000e+01 2.59900000e+01 1.62000000e+01
 3.95700000e+01 1.95000000e+01 3.27500000e+01 3.48000000e+01
 1.07000000e+01 5.21000000e+01 5.02000000e+01 2.28100000e+01
 5.10000000e+01 3.35100000e+01 2.81100000e+01 3.32000000e+01
 2.19000000e+01 4.58000000e+01 1.69000000e+01 3.39000000e+01
 4.36000000e+01 3.47100000e+01 2.74000000e+01 2.79800000e+01
 1.19000000e+01 7.07900000e+00 4.24000000e+01 1.97000000e+01
 2.50000000e+01 3.44000000e+01 3.33000000e+01 5.93000000e+01
 2.48000000e+01 2.85000000e+01 0.00000000e+00 4.21000000e+01
 1.47000000e+01 4.32000000e+01 1.96000000e+01 1.64000000e+01
 2.99900000e+01 4.12000000e+01 5.80000000e+00 4.90000000e+01
 4.60000000e+01 1.85700000e+01 2.81300000e+01 1.21000000e+01
 1.49800000e+01 2.80000000e+01 6.60000000e+00 2.14000000e+01
 2.42000000e+01 1.65000000e+01 3.63000000e+01 2.34000000e+01
 2.20000000e+01 2.35000000e+01 4.76560000e+01 1.86000000e+01
 1.87000000e+01 4.29000000e+01 2.29000000e+01 2.25000000e+01
 2.23900000e+01 3.69000000e+01 5.46000000e+01 1.60000000e+01
 1.17000000e+01 3.08000000e+01 2.17000000e+01 2.44000000e+01
 2.64000000e+01 2.33000000e+01 2.46000000e+01 3.34000000e+01
 2.93000000e+01 3.59000000e+01 3.30000000e+01 3.06000000e+01
 1.91000000e+01 3.22000000e+01 2.63000000e+01 5.45000000e+01
 2.36000000e+01 1.08000000e+01 2.89000000e+01 3.11000000e+01
 2.91000000e+01 5.82000000e+01 4.45000000e+01 2.90000000e+01
 2.16400000e+01 2.83000000e+01 2.79700000e+01 4.09000000e+01
 3.86000000e+01 3.26000000e+01 3.70000000e+01 2.51000000e+01
 2.51500000e+01 4.23000000e+01 1.59300000e+01 2.56400000e+01
 3.79000000e+01 3.57000000e+01 1.48700000e+01 4.10000000e+01
 3.17000000e+01 1.81000000e+01 4.57000000e+01 1.48100000e+01
 4.30000000e+00 2.84100000e+01 3.94000000e+01 1.33100000e+01
 1.92600000e+01 1.60700000e+01 2.72000000e+01 2.76000000e+01
 2.31000000e+01 3.42000000e+01 3.80000000e+01 9.40000000e+00
 5.20000000e+01 3.47000000e+01 2.58000000e+01 1.80000000e+01
 1.52000000e+01 2.99000000e+01 3.97000000e+01 2.43000000e+01
 2.68100000e+01 2.28000000e+01 1.20700000e+03 2.23000000e+01
 3.02200000e+01 2.01300000e+01 3.84000000e+01 4.69000000e+01
 1.97900000e+01 2.92600000e+01 2.36800000e+01 3.48500000e+01
 2.04500000e+01 2.47400000e+01 5.12000000e+01 3.28000000e+01
 5.57000000e+01 3.96000000e+01 2.63200000e+01 2.26000000e+01
 1.98000000e+01 3.46000000e+01 1.90000000e+01 4.46000000e+01
 4.27000000e+01 4.15000000e+01 2.27000000e+01 3.68000000e+01
 2.52000000e+01 2.53000000e+02 2.98000000e+01 1.73000000e+01
 3.07000000e+01 4.20000000e+01 1.79000000e+01 4.64000000e+01
 5.71000000e+01 3.60000000e+01 3.85000000e+01 1.48000000e+01
 1.61400000e+01 2.79000000e+01 3.96200000e+01 4.78000000e+01
 1.94000000e+01 1.72000000e+01 1.59000000e+01 2.40000000e+01
 2.62300000e+01 1.42000000e+01 1.41000000e+01 3.91000000e+01
 2.67000000e+01 2.60000000e+01 1.96200000e+01 5.38000000e+00
 4.61000000e+01 1.22900000e+01 2.73000000e+01 4.01000000e+01
 2.85700000e+01 3.50200000e+01 3.32400000e+01 2.13800000e+01
 3.99000000e+01 3.72000000e+01 3.51000000e+01 1.93000000e+01
 2.88000000e+01 2.55000000e+01 6.86000000e+01 3.02000000e+01
 2.00000000e+01 1.74000000e+01 1.61000000e+01 5.19700000e+03
 3.01000000e+01 1.28000000e+01 5.65000000e+01 1.00000000e+01
 5.30000000e+00 9.80000000e+00 4.85000000e+01 3.90000000e+01
 3.50000000e+01 4.03000000e+01 4.14000000e+01 4.38000000e+01
 1.38000000e+01 2.91000000e+02 5.40300000e+00 5.31000000e+01
 1.92400000e+01 5.27000000e+01 1.90500000e+01 1.15000000e+01
 3.73000000e+01 5.39000000e+01 3.03500000e+01 2.63700000e+03
 1.78000000e+01 2.80400000e+01 1.32400000e+04 1.58000000e+01
 1.85000000e+01 2.06000000e+01 3.81000000e+01 3.15000000e+01
 2.82000000e+01 3.58600000e+01 8.40000000e+00 2.07000000e+01
 3.58000000e+01 4.76000000e+01 1.67000000e+01 2.11000000e+01
 1.00100000e+01 2.30000000e+01 1.44000000e+01 2.19600000e+01
 3.74000000e+01 3.27000000e+01 2.00900000e+01 3.04000000e+01
 2.41000000e+01 1.10000000e+01 4.51000000e+01 2.37000000e+01
 3.93000000e+01 1.82000000e+01 1.78700000e+01 2.06800000e+01
 1.94700000e+01 1.63100000e+01 4.30300000e+01 2.48700000e+01
 1.99000000e+01 2.25700000e+01 4.67500000e+01 3.93500000e+01
 1.87700000e+01 2.52500000e+01 2.18200000e+01 5.17500000e+01
 3.19000000e+01 2.70000000e+01 3.75000000e+01 4.74000000e+01
 1.50000000e+01 3.37000000e+01 1.46000000e+01 1.07200000e+01
 5.05000000e+01 8.51000000e+02 3.88000000e+01 2.03700000e+01
 3.15500000e+01 3.56000000e+01 4.26600000e+01 2.59000000e+01
 3.49000000e+01 2.49200000e+01 4.75000000e+01 1.34000000e+01
 3.35000000e+01 3.76000000e+00 4.44200000e+01 3.23100000e+01
 4.77000000e+01 1.68000000e+01 2.96000000e+01 1.40000000e+01
 4.37000000e+01 1.84000000e+01 2.92000000e+01 3.10000000e+01
 3.54000000e+01 3.24000000e+01 3.13200000e+01 6.39600000e+00
 3.88900000e+01 4.97000000e+01 3.03900000e+01 5.38000000e+01
 1.54400000e+01 1.88900000e+01 2.84700000e+01 2.68000000e+01
 7.23000000e+01 3.78000000e+01 8.06800000e+03 7.40000000e+01
 3.18000000e+01 3.78800000e+01 1.14500000e+01 2.61500000e+01
 1.84900000e+01 2.38200000e+01 3.19300000e+01 2.21100000e+01
 3.37600000e+01 2.03000000e+01 3.13000000e+01 1.50800000e+01
 4.00500000e+01 2.05000000e+01 1.51900000e+01 3.43000000e+01
 3.44900000e+04 1.56000000e+02 2.65000000e+02 1.42600000e+03
 2.66000000e+01 4.57866889e+08 2.44500000e+01 4.05900000e+01]
['ND' 'Nd' 'nd' 'NS' '<1' 'ND, <1' 'N D' '157 *' '51 *' '95*' '544**'
 '89 *' '777 ***' '1295**' '2,030' 'Hh']
['ND' '1,473' 'ND, <1' 'N D' '3/30' '<1' 'nd' '2,920*' '2,047' 'Nd' 'Hh']
['ND' '<1' '119*' 'nd' '102*' '157*' 'ND, <1' 'N D' '2,344' 'Nd' '70*'
 '71*' '73*' '69*' '38*' 'Hh']
[nan '2,118' '1,735' '4,999*' '4,311*' '3,043' '3,277' '6,605' '3,292'
 '4,544' 'ND' '4,987 *' '26,086' '3,153' '8,875' '2,188' '6,930' '4,734'
 '6,300' '7,234' '2,955' '6,679' '2,886' '1,120' '2,499' '14,202' '26.863'
 '6129*' '3844*' '2,362']
[nan '218*' '1,012**' '250 *' '79*' 'ND' '228 *' '61*' '<1' '100*' '2,112'
 '83*' '380*']
[nan '611*' '2,539' '2,515' '6,293' 'ND' '486 *' '2913*' 'Nd' '1,609 *'
 '2,639' '6236**' '35,214' '2,414*' '1,377' '10,945' '805*' '1211*']
['ND, <1' 'ND' '1/10' '1,663 *' '2,216*' '3,851' '1,030' '4,221' '2,019'
 '3,278' '1,887' '1,577' '26,952' '12,416**' '26,622**' '1,370' '7,906'
 '5,076*' '3,617 *' 'Nd' '2,858' '3,887' '2,125' '3601*' '4,077' '1419*'
 '1,111' '4,870' '2157*' '1,456' '1191*' '1,004' 'Hh']
['nd' 'ND' '2, 1' 'N D' '235 *' '2,157' '2,861' '196*' '<1' 'Nd' '267*'
 '4,354' '340*' '261*' '<' '151*' 'Hh']
['111*' '60*' 'ND' '268*' 'nd' '246 *' '644**' '190, 43' 'NF' 'Nd' '53 *'
 '524 **' '146 *' '7,549' '57*' '1,266' '303*' '395*' '4,054' '254*' '76*'
 '63*' 'Hh']
['ND' '20*' 'Nd' '<1' '22*' 'nd' 'N D' 'ND, <1' 'n/d' 'N/D' '13*' '28 *'
 'N d' 'O' '11*' 'Hh']

In [19]:
values_to_replace=['ND','<1','nd','N/D','N D','Nd', 'Hhh', 'nan', 'Hh', 'ND, <1','NDNDND', 'na','Ne','NF','<','n/d','o', 'BD','NaN', 'N d']

#values_to_replace = ['nd', '<1', 'n/d', 'n d', 'nd', 'hhh', 'nan', 'hh', 'nd, <1', 'ndndnd', 'na', 'ne', 'nf', '<', 'n/d', 'o', 'bd']

for i in mole_columns:
    for j in values_to_replace:
        df[i] = df[i].replace(j, '0')
        df[i] = df[i].fillna(0)
        df[i] = df[i].astype(str)
        df[i] = df[i].str.replace('*', '')
        df[i] = df[i].str.replace(' ', '')
        
        
    
df.head(6)

,City,State,Zip,Aspergillus flavus/oryzae,Aspergillus fumigatus,Aspergillus niger,Aspergillus ochraceus,Aspergillus penicillioides,Aspergillus restrictus*,Aspergillus sclerotiorum,...,Immune_chronicmonoorepstein-barrvirus,Immune_frequentherpesoutbreaks,Immune_viralinfectionsbecomebacterial,Immune_increasedsusceptibilitytocancer,Reproductive_changesinmenstrualcycle,Reproductive_inconsistentmenstrualcycle,Reproductive_vaginalyeastorbacterialinfections,Reproductive_jockitch,Reproductive_infertilityinbothgenders,Reproductive_hormoneimbalances
0,Mountain Brook,Alabama,35223,0,0,14,0,0,11,0,...,0,0,0,0,1,1,1,1,1,1
1,Wasilla,Alaska,99623,0,0,12,0,5,0,0,...,0,0,0,0,0,0,1,0,0,1
2,Soldotna,Alaska,99669-8654,0,3,3,234,0,6,0,...,1,0,0,0,1,1,0,0,0,1
3,Soldotna,Alaska,99669,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Anchorage,Alaska,99508-4014,64,5,32,0,0,6,0,...,0,0,0,0,0,0,0,0,0,0
5,Sherwood Park,Alberta,T8A6P1,0,309,4,0,15,0,8,...,0,0,0,0,0,0,0,0,0,0

In [20]:
df.head(7)

,City,State,Zip,Aspergillus flavus/oryzae,Aspergillus fumigatus,Aspergillus niger,Aspergillus ochraceus,Aspergillus penicillioides,Aspergillus restrictus*,Aspergillus sclerotiorum,...,Immune_chronicmonoorepstein-barrvirus,Immune_frequentherpesoutbreaks,Immune_viralinfectionsbecomebacterial,Immune_increasedsusceptibilitytocancer,Reproductive_changesinmenstrualcycle,Reproductive_inconsistentmenstrualcycle,Reproductive_vaginalyeastorbacterialinfections,Reproductive_jockitch,Reproductive_infertilityinbothgenders,Reproductive_hormoneimbalances
0,Mountain Brook,Alabama,35223,0,0,14,0,0,11,0,...,0,0,0,0,1,1,1,1,1,1
1,Wasilla,Alaska,99623,0,0,12,0,5,0,0,...,0,0,0,0,0,0,1,0,0,1
2,Soldotna,Alaska,99669-8654,0,3,3,234,0,6,0,...,1,0,0,0,1,1,0,0,0,1
3,Soldotna,Alaska,99669,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Anchorage,Alaska,99508-4014,64,5,32,0,0,6,0,...,0,0,0,0,0,0,0,0,0,0
5,Sherwood Park,Alberta,T8A6P1,0,309,4,0,15,0,8,...,0,0,0,0,0,0,0,0,0,0
6,Crossfield,Alberta,T0M0R0,0,1,11,0,0,3,0,...,0,0,0,0,0,0,0,0,0,1

In [21]:
for i in mole_columns:
    filtered = df.loc[~df[i].astype(str).str.isnumeric() | df[i].isna(), i].unique()
    print (filtered)

[]
[]
['4,807' '1,691' '6,229' '1,248' '1,018']
[]
['1,848' '1,528' '2,602' '1,001' '4,405']
[]
['1,186']
['ND,<2']
['1,1' '1<']
['330,74' '1,749' '27,089']
['1,554' '2,231' '6,624' '51,391' '11,515' '1,168' '1,001' '4,624' '2,184'
 '24,177' '1,579' '8,584' '384,895' '1,279' '4,470' '240,54' '1,731'
 '7,375' '11,243' '1,798' '18,882' '2,158' '3,375' '3,295' '6,672' '6,291'
 '2,088' '4,588' '6,366' '6,185' '3,902' '1,406' '11,258' '5,330' '2,960'
 '2,008' '613,540' '1,481' '2,287' '1,278' '12,332' '11,031' '2,010'
 '5,943' '15,925' '5,543' '3,065' '10,409' '48,433' '3,362' '1,083'
 '2,058' '4,520' '2,621' '26,864' '10,993' '2,608' '1,768' '11,190'
 '12,669' '3,271' '3,081' '13,130' '4,528' '1,346' '85,759']
['1,1' '4/40' '1,168']
['18,459' '1,510' '1,505' '<!']
['6,323' '4,009' '1,159' '410,91' '1,186' '1,563' '3,161' '2,962' '2,516'
 '1,380' '1,830' '3,786' '2,133' '1,530' '10,843' '4,217' '1,065' '3,712']
['1,1']
['1,213' '1,444' '1,484' '2,999' 'I9' '86,978' '4,038' '4,803']
['2,529' '120,27' '1,137' '6,292']
[]
['NE' '0`']
['ND,<3' 'Donotseelisted' '1<']
['30,7' '1,738']
['3,1' ',1']
['4900,1100']
['NE']
['1,518' '>1' '1<']
['2,1']
['25.7' '13.6' '22.2' '10.1' '17.28' '17.6' '17.47' '27.5' '34.1' '42.8'
 '22.4' '35.2' '8.1' '32.0' '24.5' '35.5' '7.9' '30.5' '32.9' '20.9'
 '20.2' '27.8' '21.8' '14.3' '36.6' '25.3' '21.3' '45.6' '42.34' '50.7'
 '13.0' '18.8' '19.2' '28.6' '26.1' '20.24' '23.8' '20.66' '17.53' '22.52'
 '38.67' '6.3' '36.2' '40.2' '38.9' '34.12' '7.5' '31.6' '34.0' '37.65'
 '24.7' '42.2' '31.2' '22.1' '25.99' '16.2' '39.57' '19.5' '32.75' '34.8'
 '10.7' '52.1' '50.2' '22.81' '51.0' '33.51' '28.11' '33.2' '21.9' '45.8'
 '16.9' '33.9' '43.6' '34.71' '27.4' '27.98' '11.9' '7.079' '42.4' '19.7'
 '25.0' '34.4' '33.3' '59.3' '24.8' '28.5' '0.0' '42.1' '14.7' '43.2'
 '19.6' '16.4' '29.99' '41.2' '5.8' '49.0' '46.0' '18.57' '28.13' '12.1'
 '14.98' '28.0' '6.6' '21.4' '24.2' '16.5' '36.3' '23.4' '22.0' '23.5'
 '47.656' '18.6' '18.7' '42.9' '22.9' '22.5' '22.39' '36.9' '54.6' '16.0'
 '11.7' '30.8' '21.7' '24.4' '26.4' '23.3' '24.6' '33.4' '29.3' '35.9'
 '33.0' '30.6' '19.1' '32.2' '26.3' '54.5' '23.6' '10.8' '28.9' '31.1'
 '29.1' '58.2' '44.5' '29.0' '21.64' '28.3' '27.97' '40.9' '38.6' '32.6'
 '37.0' '25.1' '25.15' '42.3' '15.93' '25.64' '37.9' '35.7' '14.87' '41.0'
 '31.7' '18.1' '45.7' '14.81' '4.3' '28.41' '39.4' '13.31' '19.26' '16.07'
 '27.2' '27.6' '23.1' '34.2' '38.0' '9.4' '52.0' '34.7' '25.8' '18.0'
 '15.2' '29.9' '39.7' '24.3' '26.81' '22.8' '1207.0' '22.3' '30.22'
 '20.13' '38.4' '46.9' '19.79' '29.26' '23.68' '34.85' '20.45' '24.74'
 '51.2' '32.8' '55.7' '39.6' '26.32' '22.6' '19.8' '34.6' '19.0' '44.6'
 '42.7' '41.5' '22.7' '36.8' '25.2' '253.0' '29.8' '17.3' '30.7' '42.0'
 '17.9' '46.4' '57.1' '36.0' '38.5' '14.8' '16.14' '27.9' '39.62' '47.8'
 '19.4' '17.2' '15.9' '24.0' '26.23' '14.2' '14.1' '39.1' '26.7' '26.0'
 '19.62' '5.38' '46.1' '12.29' '27.3' '40.1' '28.57' '35.02' '33.24'
 '21.38' '39.9' '37.2' '35.1' '19.3' '28.8' '25.5' '68.6' '30.2' '20.0'
 '17.4' '16.1' '5197.0' '30.1' '12.8' '56.5' '10.0' '5.3' '9.8' '48.5'
 '39.0' '35.0' '40.3' '41.4' '43.8' '13.8' '291.0' '5.403' '53.1' '19.24'
 '52.7' '19.05' '11.5' '37.3' '53.9' '30.35' '2637.0' '17.8' '28.04'
 '13240.0' '15.8' '18.5' '20.6' '38.1' '31.5' '28.2' '35.86' '8.4' '20.7'
 '35.8' '47.6' '16.7' '21.1' '10.01' '23.0' '14.4' '21.96' '37.4' '32.7'
 '20.09' '30.4' '24.1' '11.0' '45.1' '23.7' '39.3' '18.2' '17.87' '20.68'
 '19.47' '16.31' '43.03' '24.87' '19.9' '22.57' '46.75' '39.35' '18.77'
 '25.25' '21.82' '51.75' '31.9' '27.0' '37.5' '47.4' '15.0' '33.7' '14.6'
 '10.72' '50.5' '851.0' '38.8' '20.37' '31.55' '35.6' '42.66' '25.9'
 '34.9' '24.92' '47.5' '13.4' '33.5' '3.76' '44.42' '32.31' '47.7' '16.8'
 '29.6' '14.0' '43.7' '18.4' '29.2' '31.0' '35.4' '32.4' '31.32' '6.396'
 '38.89' '49.7' '30.39' '53.8' '15.44' '18.89' '28.47' '26.8' '72.3'
 '37.8' '8068.0' '74.0' '31.8' '37.88' '11.45' '26.15' '18.49' '23.82'
 '31.93' '22.11' '33.76' '20.3' '31.3' '15.08' '40.05' '20.5' '15.19'
 '34.3' '34490.0' '156.0' '265.0' '1426.0' '26.6' '457866889.0' '24.45'
 '40.59']
['NS' '2,030']
['1,473' '3/30' '2,920' '2,047']
['2,344']
['2,118' '1,735' '4,999' '4,311' '3,043' '3,277' '6,605' '3,292' '4,544'
 '4,987' '26,086' '3,153' '8,875' '2,188' '6,930' '4,734' '6,300' '7,234'
 '2,955' '6,679' '2,886' '1,120' '2,499' '14,202' '26.863' '2,362']
['1,012' '2,112']
['2,539' '2,515' '6,293' '1,609' '2,639' '35,214' '2,414' '1,377' '10,945']
['1/10' '1,663' '2,216' '3,851' '1,030' '4,221' '2,019' '3,278' '1,887'
 '1,577' '26,952' '12,416' '26,622' '1,370' '7,906' '5,076' '3,617'
 '2,858' '3,887' '2,125' '4,077' '1,111' '4,870' '1,456' '1,004']
['2,1' '2,157' '2,861' '4,354']
['190,43' '7,549' '1,266' '4,054']
['O']

Certain values aren't complete: i.e '2,1'. what should we do about this. Should we add 0? should we remove them?
What should we do about these values: '330,74'?
What should i do about['ND,<2'],['1,1' '1<']

In [25]:
df.head()

,City,State,Zip,Aspergillus flavus/oryzae,Aspergillus fumigatus,Aspergillus niger,Aspergillus ochraceus,Aspergillus penicillioides,Aspergillus restrictus*,Aspergillus sclerotiorum,...,Immune_chronicmonoorepstein-barrvirus,Immune_frequentherpesoutbreaks,Immune_viralinfectionsbecomebacterial,Immune_increasedsusceptibilitytocancer,Reproductive_changesinmenstrualcycle,Reproductive_inconsistentmenstrualcycle,Reproductive_vaginalyeastorbacterialinfections,Reproductive_jockitch,Reproductive_infertilityinbothgenders,Reproductive_hormoneimbalances
0,Mountain Brook,Alabama,35223,0,0,14,0,0,11,0,...,0,0,0,0,1,1,1,1,1,1
1,Wasilla,Alaska,99623,0,0,12,0,5,0,0,...,0,0,0,0,0,0,1,0,0,1
2,Soldotna,Alaska,99669-8654,0,3,3,234,0,6,0,...,1,0,0,0,1,1,0,0,0,1
3,Soldotna,Alaska,99669,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Anchorage,Alaska,99508-4014,64,5,32,0,0,6,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
print(df.iloc[:, 39].head(600).unique())

['6' '0' '12' '7' '5' '20' '10' '3' '46' '8' '61' '17' '2' '150' '22'
 '170' '11' '26' '18' '13' '4' '1' '49' '38' '209' '30' '270' '9' '14'
 '24' '75' '143' '15' '21' '47' '67' '63' '34' '133' '44' '2269' '37'
 '290' '40' '866' '28' '167' '65' '159' '230' '33' '189' '27' '140' '180'
 '56' '107' '31' 'O' '194' '69' '29']