In [1]:
import pandas as pd
import numpy as np
import os 
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
file_path = 'date_no_1hot_enco.csv'
df = pd.read_csv(file_path)

FileNotFoundError: [Errno 2] No such file or directory: 'date_no_1hot_enco.csv'

In [3]:
df.head()

,City,State,Zip,Aspergillus flavus/oryzae,Aspergillus fumigatus,Aspergillus niger,Aspergillus ochraceus,Aspergillus penicillioides,Aspergillus restrictus*,Aspergillus sclerotiorum,...,Immune_frequentherpesoutbreaks,Immune_viralinfectionsbecomebacterial,Immune_increasedsusceptibilitytocancer,Reproductive_changesinmenstrualcycle,Reproductive_inconsistentmenstrualcycle,Reproductive_vaginalyeastorbacterialinfections,Reproductive_jockitch,Reproductive_infertilityinbothgenders,Reproductive_hormoneimbalances,Cluster
0,Mountain Brook,Alabama,35223,0,0,14,0,0,11,0,...,0,0,0,1,1,1,1,1,1,-1
1,Wasilla,Alaska,99623,0,0,12,0,5,0,0,...,0,0,0,0,0,1,0,0,1,-1
2,Soldotna,Alaska,99669-8654,0,3,3,234,0,6,0,...,0,0,0,1,1,0,0,0,1,-1
3,Soldotna,Alaska,99669,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-1
4,Anchorage,Alaska,99508-4014,64,5,32,0,0,6,0,...,0,0,0,0,0,0,0,0,0,-1

In [5]:
columns_to_delete = ['Health Concerns?', 'Diagnoses', 'Eyes, Ears, Nose, & Throat', 'Resipiratory','Digestive','Circulatory', 'Skin', 'Brain', 'Nervous', 'Urinary', 'Immune', 'Reproductive']

df = df.drop(columns=columns_to_delete)

In [6]:

column_number = df.columns.get_loc('Rhizopus stolonifer')
print(column_number)

38

In [80]:
df.iloc[:,48].head()

0    0
1    0
2    0
3    0
4    0
Name: Circulatory_arteriovenousmalformation, dtype: int64

In [26]:
columns_to_drop = [40,41]
df.drop(df.columns[columns_to_drop], axis=1, inplace=True)

In [54]:
columns_to_delete1 = list(range(40, 92))

df = df.drop(columns=df.columns[columns_to_delete1])

In [57]:
columns_to_drop = [40]
df.drop(df.columns[columns_to_drop], axis=1, inplace=True)

In [78]:
columns_to_delete1 = list(range(49, 95))

df = df.drop(columns=df.columns[columns_to_delete1])

In [81]:
column_head = df.iloc[:, 39].head(10)  # Display the first 10 rows of the column
print(column_head)

0     9.20
1     2.50
2     6.40
3     0.10
4     5.83
5     5.60
6     0.46
7    10.30
8    20.30
9    26.30
Name: ERMI Score (Group I - Group II), dtype: float64

In [82]:
column_info = pd.DataFrame({'Column Number': range(len(df.columns)), 'Column Name': df.columns})
print(column_info)

    Column Number                             Column Name
0               0                                    City
1               1                                   State
2               2                                     Zip
3               3               Aspergillus flavus/oryzae
4               4                   Aspergillus fumigatus
5               5                       Aspergillus niger
6               6                   Aspergillus ochraceus
7               7              Aspergillus penicillioides
8               8                 Aspergillus restrictus*
9               9                Aspergillus sclerotiorum
10             10                     Aspergillus sydowii
11             11                      Aspergillus unguis
12             12                  Aspergillus versicolor
13             13                 Aureobasidium pullulans
14             14                     Chaetomium globosum
15             15             Cladosporium sphaerospermum
16             16            Eurotium (Asp.) amstelodami*
17             17                   Paecilomyces variotii
18             18              Penicillium brevicompactum
19             19                Penicillium corylophilum
20             20                  Penicillium crustosum*
21             21                Penicillium purpurogenum
22             22                 Penicillium spinulosum*
23             23                   Penicillium variabile
24             24        Scopulariopsis brevicaulis/fusca
25             25                Scopulariopsis chartarum
26             26                  Stachybotrys chartarum
27             27                     Trichoderma viride*
28             28                           Wallemia sebi
29             29                     Acremonium strictum
30             30                    Alternaria alternata
31             31                       Aspergillus ustus
32             32          Cladosporium cladosporioides 1
33             33          Cladosporium cladosporioides 2
34             34                   Cladosporium herbarum
35             35                        Epicoccum nigrum
36             36                      Mucor amphibiorum*
37             37                 Penicillium chrysogenum
38             38                     Rhizopus stolonifer
39             39         ERMI Score (Group I - Group II)
40             40         Circulatory_raynaud'sphenomenon
41             41  Circulatory_loworreactivebloodpressure
42             42              Circulatory_cherryangiomas
43             43       Circulatory_easybruising/bleeding
44             44                 Circulatory_spiderveins
45             45        Circulatory_irondeficiencyanemia
46             46               Circulatory_varicoseveins
47             47          Circulatory_irregularheartbeat
48             48   Circulatory_arteriovenousmalformation

In [10]:

column_number = df.columns.get_loc('Circulatory_spiderveins')
print(column_number)

72

In [11]:
columns_to_delete1 = list(range(40, 68))

df = df.drop(columns=df.columns[columns_to_delete1])

In [12]:
column_head = df.iloc[:, 40].head(10)  # Display the first 10 rows of the column
print(column_head)

0    1
1    0
2    0
3    0
4    1
5    0
6    0
7    0
8    0
9    0
Name: Circulatory_raynaud'sphenomenon, dtype: int64

In [13]:
columns_to_delete1 = list(range(41, 95))

df = df.drop(columns=df.columns[columns_to_delete1])

In [14]:
column_info = pd.DataFrame({'Column Number': range(len(df.columns)), 'Column Name': df.columns})
print(column_info)

    Column Number                       Column Name
0               0                              City
1               1                             State
2               2                               Zip
3               3         Aspergillus flavus/oryzae
4               4             Aspergillus fumigatus
5               5                 Aspergillus niger
6               6             Aspergillus ochraceus
7               7        Aspergillus penicillioides
8               8           Aspergillus restrictus*
9               9          Aspergillus sclerotiorum
10             10               Aspergillus sydowii
11             11                Aspergillus unguis
12             12            Aspergillus versicolor
13             13           Aureobasidium pullulans
14             14               Chaetomium globosum
15             15       Cladosporium sphaerospermum
16             16      Eurotium (Asp.) amstelodami*
17             17             Paecilomyces variotii
18             18        Penicillium brevicompactum
19             19          Penicillium corylophilum
20             20            Penicillium crustosum*
21             21          Penicillium purpurogenum
22             22           Penicillium spinulosum*
23             23             Penicillium variabile
24             24  Scopulariopsis brevicaulis/fusca
25             25          Scopulariopsis chartarum
26             26            Stachybotrys chartarum
27             27               Trichoderma viride*
28             28                     Wallemia sebi
29             29               Acremonium strictum
30             30              Alternaria alternata
31             31                 Aspergillus ustus
32             32    Cladosporium cladosporioides 1
33             33    Cladosporium cladosporioides 2
34             34             Cladosporium herbarum
35             35                  Epicoccum nigrum
36             36                Mucor amphibiorum*
37             37           Penicillium chrysogenum
38             38               Rhizopus stolonifer
39             39   ERMI Score (Group I - Group II)
40             40   Circulatory_raynaud'sphenomenon

In [15]:
#column_head = df.iloc[:, 40].head(10)  # Display the first 10 rows of the column
#print(column_head)

In [16]:
#columns_to_delete1 = list(range(41, 90))

#df = df.drop(columns=df.columns[columns_to_delete1])

In [17]:
#column_info = pd.DataFrame({'Column Number': range(len(df.columns)), 'Column Name': df.columns})
#print(column_info)

In [83]:
df.to_csv('Circulatory.csv', index=False)